#result{
    border: 5px black solid;
    background-color: blanchedalmond;
    color:black;
    width: 450px;
    height: 50px;
    margin-left: 6px;
  

}
.container{
    width: 525px;
    height: 700px;
  
}
.b1{
    width: 100px;
    height: 50px;
    padding: 20px;
    border: 3px darkgrey blue;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 10px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    font-weight: 1000;
}
.digits{
   
    margin-top:0px;
    width: 500px;
    height: 310px;
    border: 5px solid black;
    padding-top: 10px;
    padding-left: 10px;

}
#c1{
    background-color: darkred;
}