body{
    width: 100%;
    background-color: cornflowerblue;
}
nav{
    height: 80px; 
    background-color: rgb(12, 12, 37);
    margin: -8px;
   
}
#nav{
    text-decoration: none;
    color: white;
    margin-left: 80px;
    padding-top: 40px;position: absolute;
} 
.hm1{
   
    float: right;
    margin-right: 5%;
    margin-top: -30px;
}

.d1{
    padding-top: 30px;
    padding-left: 30px;
    width: 50px;
    color: white;
    text-decoration: none;
}

.menu-btn{
    font-family: 'Roboto';
    font-style: normal;
    color: #FFFFFF; 
    line-height: 20px;
    position: absolute;
    margin-left: 1145px;
    background-color: #000000;
  
    position: absolute;
    margin-top: 30pt;
}
.button{
    background-color: blue;
    border-radius: 8px;
    align-self: center;
    color: white;
    width: 120px;
    height: 45px;
    margin-left :62px;
}


h1{
    text-align: center;
    color:darkblue;

}
h4{
    color: blue;
    text-align: center;
}
p{
    color: darkgreen;
    text-align: center;
}
.column{
   position: absolute;
    border: 2px black solid;
    width: 260px;
    height: 400px;
    left: 200px;
    top: 400px;
   
    
    
}



img{
    width: 260px;
    height: 200px;
}
.column1{
    left: 500px;
    position: absolute;
    top: 400px;
    border: 2px black solid;
    width: 260px;
    height: 400px;
}
.column2{
    position: absolute;
    left: 800px;
    top: 400px;
    border: 2px black solid;
    width: 260px;
    height: 400px;
}

footer{
    position: absolute;
width: 100%;
height: 100px;
margin-left:-8px;



background: #000000;
}
.row{
    height: 500px;
}
 .f2{
    text-align: center;
    
    color: white;
}
ul {
    list-style-type: none;
    margin: auto;
    margin-left: 38%;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
    vertical-align: middle;
  }
  
  li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16px;
  
    text-decoration: none;
  }
  .d1 a{
    text-decoration: none;
    color: white;
  }
  i{
      color: white;
  }