#todo{
    margin-left: 15%;
    width: 60%;
 
   }
   h1{
       text-align: center;
   }
   #list{
       text-align: center;
       list-style-type: none;
       margin-left: 70px;
       margin-right: 200px;
     
   }
  
   .check{
     
       float:left;
      
   
   }
   .container .para{
       float: left;
   }
   .container{
       border: 3px solid black;
       width: 60%;
       margin-left: 350px;
       background-color: #f44336;
       
   }
   .bt{
      border-color:transparent;
      background-color:transparent;
     
      margin-left: 10%;
     
   }
   .bt:hover {
    background-color: #f44336;
    color: white;
  }
   .lb{
       border-style: none;
       margin-left: 15%;
       border-color:transparent;
       background-color:transparent;
   }
li{margin-left: 9%;}
.vt{background-color:white;}
